div{
    border: solid green 10px;
    padding: 2%;
}
#c1{
    background: blue;
    float: left;
}
#c2{
    background: rgb(255, 0, 0);
}
#c3{
    background: rgb(153, 83, 83);
}
#c4{
    background: rgb(0, 255, 55);
}